div#sv-list {

  input#sv-search-label {
    width: 120px;
  }

  input#sv-search-code {
    width: 120px;
  }

  span {
    &.sv-plus {
      cursor: pointer;
    }

    &.sv-minus {
      cursor: pointer;
    }
  }

  th {
    padding: 8px 16px;
    text-align: center;
  }

  td {
    padding: 8px 16px;

    div {
      padding: 8px 16px;
      cursor: pointer;
    }
  }

  td.label, td.code {
    width: 150px;
  }

  td.type {
    width: 150px;
    white-space: nowrap;
  }

  .sv-display-none {
    display: none;
  }
}
