$pager-base-color: #4b4b4b;

div#sv-main {
  border-bottom: 4px solid $pager-base-color;

  ul#sv-pager {
    display: inline-block;
    margin: 20px 20px 0px 20px;
    padding: 0px;

    li {
      display: inline;
      padding: 8px 12px 3px 12px;

      a {
        color: $pager-base-color;
        font-weight: bold;
      }
    }

    li.sv-pager-active {
      background-color: $pager-base-color;
      border-radius: 8px 8px 0px 0px;

      a {
        color: #ffffff;
        font-weight: bold;
      }
    }
  }
}

div#sv-swipe-area {
  pointer-events: none;
  z-index: 999;
  position: fixed;
  transform: translate3d(0, 0, 0);
  opacity: 0.6;
  //left: calc(192vw - 180px);
  //bottom: 120px;
  top: 60vh;
  left: 60vw;

  &::before {
    content: attr(data-value);
    position: absolute;
    top: -1.5em;
    left: -0.5em;
    font-size: 1.7em;
    font-weight: bold;
  }
}

$mq-breakpoints: (
  'small' : 480px,
  'medium': 600px,
  'large' : 960px
);

@mixin mq($breakpoint: medium, $rule: min, $subtraction: false) {
  $breakpoint: map_get($mq-breakpoints, $breakpoint);
  @if $rule == max and $subtraction {
    $breakpoint: $breakpoint - 1;
  }
  @media screen and (#{$rule}-width: $breakpoint) {
    @content;
  }
}

img#sv-swipe-element {
  pointer-events: auto;
  z-index: 1000;
  border-radius: 30px;
  touch-action: none;
  user-select: none;

  @include mq(large, min) {
    margin: 60px;
  }
  @include mq(large, max, true) {
    margin: 54px;
  }
  @include mq(medium, max) {
    margin: 48px;
  }
  @include mq(small, max) {
    margin: 42px;
  }
}
